.callback-form {
  display: none;
  position: fixed;
  z-index: 1001;
  width: 390px;
  line-height: 290px;
  height: 290px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #29538a;
  color: #fff;
  text-align: center;
}
.callback-form.validate input:invalid {
  border-color: #f39c12;
}
.callback-form .close {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -999px;
  width: 36px;
  height: 33px;
  background: url("../images/close.png") 50% 50% no-repeat;
  background-size: 12px 11px;
  right: 0px;
  top: 0px;
}
.callback-form fieldset {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin: -14px 0 0;
}
.callback-form fieldset .title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.callback-form fieldset input {
  background: none;
  border: 1px solid #fff;
  width: 258px;
  height: 33px;
  padding: 0 15px;
  margin-bottom: 10px;
  outline: none;
  color: #fff;
}
.callback-form fieldset input::-webkit-input-placeholder {
  color: #fff;
}
.callback-form fieldset input:-moz-placeholder {
  color: #fff;
}
.callback-form fieldset input::-moz-placeholder {
  color: #fff;
}
.callback-form fieldset input:-ms-input-placeholder {
  color: #fff;
}
.callback-form fieldset button {
  background: #f39c12;
  box-shadow: none;
  border-style: none;
  padding: 0 20px;
  margin: 18px 0 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 35px;
  font-weight: bold;
  cursor: pointer;
  overflow: visible;
}
.callback-requested {
  display: none;
  z-index: 1001;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 611px;
  height: 142px;
  line-height: 142px;
  background: #29538a;
  color: #fff;
  text-align: center;
  z-index: 1000;
}
.callback-requested .close {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -999px;
  width: 36px;
  height: 33px;
  background: url("../images/close.png") 50% 50% no-repeat;
  background-size: 12px 11px;
  right: 0px;
  top: 0px;
}
.callback-requested .wrapper {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  top: -5px;
  position: relative;
}
.callback-requested .wrapper .title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.callback-requested .wrapper p {
  font-size: 16px;
  line-height: 18px;
}
.lightbox {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#page-1 {
  position: relative;
  text-align: center;
  color: #fff;
  height: 680px;
}
#page-1 nav .next,
#page-1 nav .prev {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -38px;
  height: 76px;
  width: 31px;
  overflow: hidden;
  background-size: 62px 76px;
  background-repeat: no-repeat;
  background-image: url("../images/arrows.png");
  background-position: 0 0;
  z-index: 3;
  margin-left: -481px;
  cursor: pointer;
  transition: opacity 0.25s;
  opacity: 1;
}
#page-1 nav .next:hover,
#page-1 nav .prev:hover {
  opacity: 0.25;
}
#page-1 nav .next {
  background-position: 100% 0;
  margin-left: 450px;
}
#page-1 section {
  height: 680px;
  line-height: 680px;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  background-color: #5e7ba0;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.75s;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
#page-1 section.slide-1 {
  background-image: url("../images/bg-slide-1.jpg");
}
#page-1 section.slide-2 {
  background-image: url("../images/bg-slide-2.jpg");
}
#page-1 section.slide-3 {
  background-image: url("../images/bg-slide-3.jpg");
}
#page-1 section.slide-4 {
  background-image: url("../images/bg-slide-4.jpg");
}
#page-1 section.slide-5 {
  background-image: url("../images/bg-slide-5.jpg");
}
#page-1 section.selected {
  opacity: 1;
  z-index: 1;
  pointer-events: all;
}
#page-1 section .wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 930px;
  padding: 0 10px;
  font-size: 0;
  line-height: 18px;
}
#page-1 section .wrapper:after {
  content: ".";
  display: block;
  width: 36px;
  height: 57px;
  margin: 50px auto 0;
  background: url("../images/scroll.png") 50% 50% no-repeat;
  background-size: 36px 57px;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 20;
}
#page-1 section .wrapper a {
  height: 50px;
  display: inline-block;
  padding: 0 30px;
  color: #fff;
  background-color: #f39c12;
  margin-top: 50px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
}
#page-1 section .wrapper .abstract .title {
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin: 0 0 30px;
}
#page-1 section .wrapper .abstract p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: auto;
  max-width: 560px;
}
#page-1 section .wrapper .abstract:after {
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  margin: 30px auto 0;
  overflow: hidden;
  content: "";
  border-bottom: 2px solid #fff;
  width: 90px;
}

#page-2 {
  min-height: 720px;
  background: #fff;
  color: #29538a;
  line-height: 720px;
  text-align: center;
}
#page-2 .wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 930px;
  margin-top: -27px;
  padding: 0 10px;
  line-height: 18px;
  font-size: 0;
}
#page-2 .wrapper .news {
  width: 690px;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  margin: 0 30px 0 0;
}
#page-2 .wrapper .news nav {
  text-align: center;
}
#page-2 .wrapper .news nav .page {
  display: inline-block;
  margin: 0 6px;
  font-size: 0;
  line-height: 0;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #b2b2b2;
  transition: background-color 0.25s;
  cursor: pointer;
}
#page-2 .wrapper .news nav .page:hover,
#page-2 .wrapper .news nav .page.selected {
  background-color: #f39c12;
}
#page-2 .wrapper .news .list {
  white-space: nowrap;
  margin-bottom: 20px;
  font-size: 0;
  line-height: 0;
}
#page-2 .wrapper .news .list article {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  background-color: #f2f2f2;
  text-align: left;
  position: relative;
  height: 314px;
  padding: 0 0 0 400px;
  width: 290px;
}
#page-2 .wrapper .news .list article .block-link {
  text-decoration: none;
  display: block;
}
#page-2 .wrapper .news .list article .block-link:hover .title {
  background-color: #29538a;
}
#page-2 .wrapper .news .list article .illustration {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 314px;
  display: block;
}
#page-2 .wrapper .news .list article .title {
  background-color: #8abbfa;
  color: #fff;
  text-transform: uppercase;
  padding: 23px 40px;
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
  overflow: hidden;
  transition: background-color 0.25s;
}
#page-2 .wrapper .news .list article a {
  color: #30557a;
  text-decoration: underline;
}
#page-2 .wrapper .news .list article a:hover {
  text-decoration: none;
}
#page-2 .wrapper .news .list article a.details {
  background-color: #f39c12;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 40px;
  padding: 0 20px;
  margin-top: 4px;
  display: inline-block;
}
#page-2 .wrapper .news .list article p {
  color: #000;
  font-size: 14px;
  line-height: 22px;
  padding: 0 40px;
  margin: 20px 0;
  overflow: hidden;
  max-height: 66px;
}
#page-2 .wrapper .careers {
  width: 210px;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
#page-2 .wrapper .careers nav {
  text-align: center;
}
#page-2 .wrapper .careers nav .prev {
  background-position: -20px 50%;
}
#page-2 .wrapper .careers nav .next {
  background-position: 0 50%;
}
#page-2 .wrapper .careers nav .prev,
#page-2 .wrapper .careers nav .next {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  display: inline-block;
  background-color: #b2b2b2;
  background-repeat: no-repeat;
  background-image: url("../images/arrows-small.png");
  background-size: 40px 20px;
}
#page-2 .wrapper .careers nav .prev:hover,
#page-2 .wrapper .careers nav .next:hover {
  background-color: #f39c12;
}
#page-2 .wrapper .careers .list {
  white-space: nowrap;
  margin-bottom: 18px;
}
#page-2 .wrapper .careers .list article {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  background-color: #f2f2f2;
  text-align: left;
  padding: 0 0 14px;
  height: 300px;
}
#page-2 .wrapper .careers .list article .block-link {
  text-decoration: none;
  display: block;
  background-color: #8abbfa;
}
#page-2 .wrapper .careers .list article .block-link:hover .title {
  background-color: #29538a;
}
#page-2 .wrapper .careers .list article a {
  color: #30557a;
  text-decoration: underline;
}
#page-2 .wrapper .careers .list article a:hover {
  text-decoration: none;
}
#page-2 .wrapper .careers .list article .title {
  background-color: #8abbfa;
  color: #fff;
  text-transform: uppercase;
  padding: 16px 15px;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  overflow: hidden;
  height: 36px;
  transition: background-color 0.25s;
}
#page-2 .wrapper .careers .list article p {
  color: #000;
  font-size: 14px;
  line-height: 22px;
  padding: 0 15px;
  margin: 10px 0;
  overflow: hidden;
  max-height: 66px;
}
#page-2 .wrapper .careers .list article .illustration {
  display: block;
  width: 100%;
  height: 110px;
}
#page-2 .wrapper .abstract {
  margin-bottom: 50px;
}
#page-2 .wrapper .abstract .title {
  font-size: 36px;
  line-height: 72px;
  font-weight: bold;
  text-transform: uppercase;
}
#page-2 .wrapper .abstract .sub-title {
  font-size: 24px;
  line-height: 32px;
  max-width: 910px;
  margin: 0 auto;
  white-space: nowrap;
  font-weight: 200;
  margin-bottom: 20px;
}
#page-2 .wrapper .abstract p {
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
#page-2 .wrapper .abstract:after {
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  margin: 20px auto 0;
  overflow: hidden;
  content: "";
  border-bottom: 2px solid #000;
  width: 90px;
}

#page-3 {
  min-height: 880px;
  background: url("../images/bg-advantages.jpg") 50% 50% no-repeat;
  background-size: cover;
  color: #29538a;
  line-height: 880px;
  text-align: center;
}
#page-3 .wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 930px;
  margin-top: -27px;
  padding: 0 10px;
  line-height: 18px;
}
#page-3 .wrapper .advantages {
  margin-top: 50px;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
}
#page-3 .wrapper .advantages .column {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  width: 465px;
  border-right: 1px solid #fff;
}
#page-3 .wrapper .advantages .column .advantage {
  background-color: #fff;
  padding: 40px 40px 40px 30px;
  margin-right: 60px;
  margin-bottom: 20px;
  position: relative;
  color: #000;
  text-align: left;
}
#page-3 .wrapper .advantages .column .advantage .sub-title {
  line-height: 24px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: #29538a;
  margin-bottom: 20px;
}
#page-3 .wrapper .advantages .column .advantage li {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}
#page-3 .wrapper .advantages .column .advantage li:before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  left: 0;
  top: 7px;
  background-color: #29538a;
}
#page-3 .wrapper .advantages .column .advantage:last-child {
  margin-bottom: 0;
}
#page-3 .wrapper .advantages .column .advantage:hover {
  background-color: #29538a;
}
#page-3 .wrapper .advantages .column .advantage:hover li:before {
  background-color: #76a5e3;
}
#page-3 .wrapper .advantages .column .advantage:hover li,
#page-3 .wrapper .advantages .column .advantage:hover .sub-title {
  color: #fff;
}
#page-3 .wrapper .advantages .column .advantage:hover:before {
  background-color: #29538a;
}
#page-3 .wrapper .advantages .column .advantage:hover:after {
  border-color: transparent transparent transparent #29538a;
}
#page-3 .wrapper .advantages .column .advantage:after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  left: 100%;
  top: 50%;
  margin: -16px 0 0 0;
  border-style: solid;
  border-width: 16px 0 16px 23px;
  border-color: transparent transparent transparent #fff;
}
#page-3 .wrapper .advantages .column .advantage:before {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  border: 5px solid #fff;
  background-color: #fff;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  left: 100%;
  top: 50%;
  margin: -10px 0 0 51px;
}
#page-3 .wrapper .advantages .column+.column {
  border-right-style: none;
  border-left: 1px solid #fff;
  margin-left: -1px;
}
#page-3 .wrapper .advantages .column+.column .advantage {
  margin-right: 0;
  margin-left: 60px;
}
#page-3 .wrapper .advantages .column+.column .advantage:hover:after {
  border-color: transparent #29538a transparent transparent;
}
#page-3 .wrapper .advantages .column+.column .advantage:before {
  left: auto;
  right: 100%;
  margin: -10px 50px 0 0;
}
#page-3 .wrapper .advantages .column+.column .advantage:after {
  left: auto;
  right: 100%;
  border-width: 16px 23px 16px 0;
  border-color: transparent #fff transparent transparent;
}
#page-3 .wrapper .title {
  font-size: 36px;
  line-height: 72px;
  font-weight: bold;
  text-transform: uppercase;
}
#page-3 .wrapper .abstract .sub-title {
  font-size: 24px;
  line-height: 32px;
  max-width: 910px;
  margin: 0 auto;
  white-space: nowrap;
  font-weight: 200;
}
#page-3 .wrapper .abstract:after {
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  margin: 20px auto 0;
  overflow: hidden;
  content: "";
  border-bottom: 2px solid #000;
  width: 90px;
}

#page-4 {
  height: 330px;
  line-height: 330px;
  text-align: center;
}
#page-4 .wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 930px;
  padding: 0 10px;
  line-height: 18px;
  margin-top: -30px;
}
#page-4 .wrapper p {
  font-size: 18px;
  line-height: 27px;
  max-width: 880px;
  margin: 40px auto 0;
}
#page-4 .wrapper .title {
  font-size: 36px;
  line-height: 72px;
  font-weight: bold;
  text-transform: uppercase;
  color: #29538a;
}
#page-4 .wrapper .title:after {
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  margin: 7px auto 0;
  overflow: hidden;
  content: "";
  border-bottom: 2px solid #010101;
  width: 90px;
}

#page-5 {
  height: 365px;
  background: url("../images/bg-redial.jpg") 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
  line-height: 365px;
  text-align: center;
}
#page-5 .wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 930px;
  margin-top: -27px;
  padding: 0 10px;
  line-height: 18px;
}
#page-5 .wrapper .title {
  font-size: 36px;
  line-height: 72px;
  font-weight: bold;
  text-transform: uppercase;
}
#page-5 .wrapper p {
  font-size: 16px;
  line-height: 24px;
  max-width: 650px;
  margin: 0 auto;
}
#page-5 .wrapper .abstract:after {
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  margin: 20px auto 0;
  overflow: hidden;
  content: "";
  border-bottom: 2px solid #fff;
  width: 90px;
}
#page-5 .wrapper form {
  margin-top: 50px;
}
#page-5 .wrapper form.validate input:invalid {
  border-color: #f39c12;
}
#page-5 .wrapper form button {
  width: 165px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  padding: 0;
  margin: 0;
  background: #f39c12;
  box-shadow: none;
  border-style: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 35px;
  font-weight: bold;
  cursor: pointer;
}
#page-5 .wrapper form input {
  display: inline-block;
  border: 1px solid #9db8ca;
  background: none;
  color: #fff;
  padding: 10px 15px;
  margin: 0 30px 0 0;
  box-sahdow: none;
  width: 273px;
  height: 35px;
  line-height: 15px;
  font-size: 13px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.25s;
}
#page-5 .wrapper form input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
#page-5 .wrapper form input:-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
#page-5 .wrapper form input::-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
#page-5 .wrapper form input:-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}
#page-5 .wrapper form input:focus {
  border-color: #fff;
}

#page-6 {
  height: 595px;
  line-height: 595px;
  background: #f2f2f2;
  text-align: center;
}
#page-6 .wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 960px;
  padding: 0 10px;
  line-height: 18px;
  margin-top: -30px;
  font-size: 0;
}
#page-6 .wrapper .gift {
  margin: 50px auto 0;
  background-color: #f39c12;
  color: #fff;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
#page-6 .wrapper section {
  display: inline-block;
  width: 240px;
  overflow: hidden;
  vertical-align: bottom;
  border-bottom: 3px solid #8abbfa;
  margin-top: 50px;
  padding: 0 0 32px;
  transition: border-color 0.25s;
}
#page-6 .wrapper section.measurements .icon {
  background-image: url("../images/measurements.png");
}
#page-6 .wrapper section.decore .icon {
  background-image: url("../images/decore.png");
}
#page-6 .wrapper section.manufacturing .icon {
  background-image: url("../images/manufacturing.png");
}
#page-6 .wrapper section.delivery .icon {
  background-image: url("../images/delivery.png");
}
#page-6 .wrapper section .icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 0 auto 15px;
  background-color: #29538a;
  transition: background-color 0.25s;
}
#page-6 .wrapper section:hover {
  border-bottom: 3px solid #29538a;
}
#page-6 .wrapper section:hover .icon {
  background-color: #8abbfa;
}
#page-6 .wrapper section .sub-title {
  color: #29538a;
  font-size: 24px;
  line-height: 48px;
  font-weight: bold;
  text-transform: uppercase;
}
#page-6 .wrapper section p {
  margin-top: -6px;
  font-size: 14px;
  line-height: 22px;
}
#page-6 .wrapper .title {
  font-size: 36px;
  line-height: 72px;
  font-weight: bold;
  text-transform: uppercase;
  color: #29538a;
}
#page-6 .wrapper .title:after {
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  margin: 7px auto 0;
  overflow: hidden;
  content: "";
  border-bottom: 2px solid #010101;
  width: 90px;
}

#page-7 {
  height: 460px;
  line-height: 460px;
  text-align: center;
}
#page-7 .wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 930px;
  padding: 0 10px;
  line-height: 18px;
  margin-top: -30px;
}
#page-7 .wrapper .title {
  font-size: 36px;
  line-height: 72px;
  font-weight: bold;
  text-transform: uppercase;
  color: #29538a;
}
#page-7 .wrapper .title:after {
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  margin: 7px auto 0;
  overflow: hidden;
  content: "";
  border-bottom: 2px solid #010101;
  width: 90px;
}
#page-7 .wrapper .responces {
  margin-top: 50px;
  position: relative;
}
#page-7 .wrapper .responces nav {
  text-align: center;
  margin-top: 15px;
}
#page-7 .wrapper .responces nav a {
  display: inline-block;
  overflow: hidden;
  text-indent: -999px;
  width: 23px;
  height: 23px;
  position: relative;
  font-size: 0;
  line-height: 0;
}
#page-7 .wrapper .responces nav a.selected:before,
#page-7 .wrapper .responces nav a:hover:before {
  background-color: #f39c12;
}
#page-7 .wrapper .responces nav a:before {
  content: ".";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  line-height: 0;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #b2b2b2;
}
#page-7 .wrapper .responces .responce-list {
  width: 915px;
  overflow: hidden;
  white-space: nowrap;
}
#page-7 .wrapper .responces .responce-list .responce {
  text-align: left;
  vertical-align: top;
  width: 290px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  min-height: 130px;
  margin-left: 35px;
  padding: 15px 0 0 150px;
}
#page-7 .wrapper .responces .responce-list .responce:first-child {
  margin-left: 0;
}
#page-7 .wrapper .responces .responce-list .responce img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 130px;
  height: 130px;
}
#page-7 .wrapper .responces .responce-list .responce cite {
  font-size: 14px;
  line-height: 22px;
  white-space: normal;
}
#page-7 .wrapper .responces .responce-list .responce q {
  color: #666;
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  margin-top: 10px;
}

#page-8 {
  height: 500px;
  background: url("../images/bg-about.jpg") 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
  line-height: 500px;
  text-align: center;
}
#page-8 .wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 930px;
  margin-top: -27px;
  padding: 0 10px;
  line-height: 18px;
}
#page-8 .wrapper .title {
  font-size: 36px;
  line-height: 72px;
  font-weight: bold;
  text-transform: uppercase;
}
#page-8 .wrapper p {
  font-size: 16px;
  line-height: 24px;
  max-width: 910px;
  margin: 0 auto;
}
#page-8 .wrapper p.quality {
  color: #f39c12;
  position: relative;
}
#page-8 .wrapper p.quality a {
  color: #f39c12;
  text-decoration: underline;
  display: inline-block;
  position: relative;
}
#page-8 .wrapper p.quality a:before {
  content: ".";
  display: block;
  position: absolute;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -999px;
  left: -41px;
  top: 5px;
  width: 46px;
  height: 31px;
  background: url("../images/q-left.png") 50% 50% no-repeat;
  background-size: contain;
}
#page-8 .wrapper p.quality a:after {
  content: ".";
  display: block;
  position: absolute;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -999px;
  left: 100%;
  top: 5px;
  margin-left: -5px;
  width: 46px;
  height: 31px;
  background: url("../images/q-right.png") 50% 50% no-repeat;
  background-size: contain;
}
#page-8 .wrapper .abstract:after {
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  margin: 20px auto 0;
  overflow: hidden;
  content: "";
  border-bottom: 2px solid #fff;
  width: 90px;
}
#page-8 .wrapper ul {
  margin-top: 50px;
  font-size: 0;
  text-align: center;
}
#page-8 .wrapper ul li {
  vertical-align: top;
  display: inline-block;
  margin-left: 120px;
}
#page-8 .wrapper ul li:first-child {
  margin-left: 0;
}
#page-8 .wrapper ul li p {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
#page-8 .wrapper ul li span {
  display: inline-block;
  padding: 0 15px;
  min-width: 30px;
  margin-bottom: 15px;
  white-space: nowrap;
  height: 60px;
  color: #fff;
  font-size: 36px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #fff;
}
#page-8 .wrapper ul li span:hover {
  color: #475a6c;
  background-color: #fff;
}

#page-9 {
  height: 485px;
  line-height: 485px;
  text-align: center;
}
#page-9 .wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 930px;
  padding: 0 10px;
  line-height: 18px;
  margin-top: -34px;
}
#page-9 .wrapper .title {
  font-size: 36px;
  line-height: 72px;
  font-weight: bold;
  text-transform: uppercase;
  color: #29538a;
}
#page-9 .wrapper .title:after {
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  margin: 7px auto 0;
  overflow: hidden;
  content: "";
  border-bottom: 2px solid #010101;
  width: 90px;
}
#page-9 .wrapper ul+ul {
  margin-left: 26px;
}
#page-9 .wrapper ul {
  display: inline-block;
  margin: 50px 0 0;
  vertical-align: top;
  text-align: left;
}
#page-9 .wrapper ul li {
  width: 420px;
  padding: 14px 10px 16px 20px;
  color: #29538a;
  font-size: 18px;
  line-height: 24px;
  color: #010101;
  position: relative;
}
#page-9 .wrapper ul li:before {
  content: ".";
  display: block;
  position: absolute;
  left: 0;
  top: 24px;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -999px;
  background: #29538a;
}
#page-9 .wrapper ul li:hover {
  background-color: #29538a;
  color: #fff;
}

.ask {
  position: absolute;
  bottom: 350px;
  left: 50%;
  margin-left: 198px;
  width: 266px;
  text-align: center;
  line-height: 50px;
  background-color: #f39c12;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  z-index: 1;
}
.question-form {
  position: absolute;
  bottom: 0;
  line-height: 348px;
  text-align: center;
  right: 50%;
  margin: 0 -465px 0 0;
  width: 930px;
  height: 348px;
  z-index: 2;
  background-color: #f39c12;
  color: #fff;
  transition: bottom 0.25s;
}
.question-form.validate textarea:invalid {
  border-color: #f00;
}
.question-form.validate input:invalid {
  border-color: #f00;
}
.question-form.open {
  bottom: 350px;
}
.question-form .close {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -999px;
  width: 36px;
  height: 33px;
  background: url("../images/close.png") 50% 50% no-repeat;
  background-size: 12px 11px;
  right: 0px;
  top: 0px;
}
.question-form fieldset {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}
.question-form fieldset .title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #fff;
}
.question-form fieldset input {
  border: 1px solid #fff;
  background: none;
  margin: 0 12px 30px;
  padding: 10px;
  width: 235px;
  height: 15px;
  font-size: 13px;
  line-height: 15px;
  outline: none;
  color: #fff;
}
.question-form fieldset input::-webkit-input-placeholder {
  color: #fff;
}
.question-form fieldset input:-moz-placeholder {
  color: #fff;
}
.question-form fieldset input::-moz-placeholder {
  color: #fff;
}
.question-form fieldset input:-ms-input-placeholder {
  color: #fff;
}
.question-form fieldset input:focus {
  border-color: #f9ce89;
}
.question-form fieldset textarea {
  display: block;
  width: 810px;
  height: 54px;
  resize: none;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: none;
  padding: 10px;
  font-size: 13px;
  line-height: 18px;
  margin: 0 auto 30px;
  outline: none;
  color: #fff;
}
.question-form fieldset textarea::-webkit-input-placeholder {
  color: #fff;
}
.question-form fieldset textarea:-moz-placeholder {
  color: #fff;
}
.question-form fieldset textarea::-moz-placeholder {
  color: #fff;
}
.question-form fieldset textarea:-ms-input-placeholder {
  color: #fff;
}
.question-form fieldset textarea:focus {
  border-color: #f9ce89;
}
.question-form fieldset button {
  background: #fff;
  color: #f39c12;
  font-size: 12px;
  line-height: 35px;
  height: 35px;
  padding: 0 30px;
  font-weight: bold;
  text-transform: uppercase;
  border-style: none;
  box-shadow: none;
  cursor: pointer;
}
.question-asked {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 611px;
  height: 155px;
  line-height: 155px;
  background: #f39c12;
  color: #fff;
  text-align: center;
  z-index: 1001;
}
.question-asked .close {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -999px;
  width: 36px;
  height: 33px;
  background: url("../images/close.png") 50% 50% no-repeat;
  background-size: 12px 11px;
  right: 0px;
  top: 0px;
}
.question-asked .wrapper {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  top: -5px;
  position: relative;
}
.question-asked .wrapper .title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.question-asked .wrapper p {
  font-size: 16px;
  line-height: 18px;
}

html {
  font-family: 'Clear Sans';
  height: 100%;
}
html body {
  position: relative;
  min-height: 100%;
  min-width: 950px;
}
html body main {
  padding: 0 0 350px;
}
header {
  height: 77px;
  line-height: 77px;
  background-color: #29538a;
}
header .wrapper {
  width: 930px;
  line-height: 77px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  font-size: 0;
}
header .wrapper .logotype {
  position: absolute;
  width: 117px;
  height: 77px;
  background: url("../images/logotype.png") 0 0 no-repeat;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  text-indent: -999px;
}
header .wrapper .callback-button {
  background-color: #8abdff;
  color: #254a7a;
  font-size: 13px;
  line-height: 36px;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px;
  font-weight: bold;
}
header .wrapper .phones {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  height: 36px;
  margin-right: 30px;
}
header .wrapper .phones a {
  float: left;
  clear: left;
  color: #8abdff;
  font-weight: 700;
  text-decoration: none;
}
header .wrapper .phones a span {
  color: #fff;
}
header .wrapper nav {
  display: inline-block;
  vertical-align: middle;
  margin: 0 50px 0 170px;
}
header .wrapper nav a {
  display: inline-block;
  vertical-align: top;
  line-height: 74px;
  font-size: 14px;
  height: 74px;
  padding: 0 10px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px solid #29538a;
}
header .wrapper nav a:hover,
header .wrapper nav a.selected {
  border-bottom: 3px solid #8abdff;
}
footer {
  height: 350px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #8abbfa;
  overflow: hidden;
  color: #fff;
  z-index: 3;
}
footer .wrapper {
  width: 930px;
  padding: 0 10px;
  margin: 0 auto;
  font-size: 0;
  line-height: 0;
}
footer .wrapper .title {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  white-space: nowrap;
  margin: 0 0 8px;
}
footer .wrapper .sub-title {
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
  margin: 0 0 8px;
}
footer .wrapper .contacts {
  padding: 63px 0 0 57px;
  font-size: 14px;
  line-height: 22px;
  margin-left: 23px;
  overflow: hidden;
  height: 350px;
  width: 209px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  pointer-events: all;
  background-color: #29538a;
}
footer .wrapper .contacts p {
  padding: 0 0 0 30px;
  margin: 8px 0;
  position: relative;
  overflow: hidden;
}
footer .wrapper .contacts p.salons {
  background: url("../svg/p1-ico.svg") 0 0 no-repeat;
  background-size: auto 25px;
}
footer .wrapper .contacts p.phones {
  background: url("../svg/p4-ico.svg") 0 0 no-repeat;
  background-size: auto 25px;
}
footer .wrapper .contacts p.emails {
  background: url("../svg/p9-ico.svg") 0 0 no-repeat;
  background-size: auto 25px;
}
footer .wrapper .contacts p a {
  color: #fff;
  float: left;
  clear: left;
}
footer .wrapper .contacts p a:hover {
  text-decoration: none;
}
footer .wrapper .contacts nav.social {
  padding: 0;
  margin: 8px 0 0;
  width: auto;
}
footer .wrapper .contacts nav.social a {
  display: inline-block;
  float: none;
  text-decoration: none;
  width: 27px;
  height: 27px;
  line-height: 27px;
  font-size: 0;
  color: rgba(255,255,255,0);
  text-align: center;
  margin-left: 10px;
  overflow: hidden;
  border-radius: 100%;
  background-color: #81b1ef;
  transition: background-color 0.25s;
  background-position: 50% 50%;
  background-size: 27px 27px;
}
footer .wrapper .contacts nav.social a.vk {
  background-image: url("../images/vk.png");
  margin-left: 0;
}
footer .wrapper .contacts nav.social a.ok {
  background-image: url("../images/ok.png");
}
footer .wrapper .contacts nav.social a.gp {
  background-image: url("../images/gp.png");
}
footer .wrapper .contacts nav.social a.fb {
  background-image: url("../images/fb.png");
}
footer .wrapper .contacts nav.social a:hover {
  background-color: #54769c;
}
footer .wrapper nav {
  vertical-align: top;
  position: relative;
  width: 130px;
  display: inline-block;
  margin-right: 30px;
  padding: 63px 0 0;
  overflow: visible;
}
footer .wrapper nav a {
  display: block;
  float: left;
  clear: left;
  font-size: 14px;
  line-height: 22px;
  margin: 7px 0;
  color: #fff;
  cursor: pointer;
}
footer .wrapper nav a:hover {
  color: #29538a;
}
footer:before {
  position: absolute;
  content: ".";
  bottom: 0;
  right: 0;
  width: 50%;
  margin-right: -464px;
  background-color: #29538a;
  height: 350px;
  font-size: 0;
  line-height: 0;
  text-indent: -999px;
  overflow: hidden;
  z-index: 1;
}
.page-navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 405px;
  margin: auto;
  z-index: 1000;
}
.page-navigation a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 0 1px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
  transition: width 0.25s;
}
.page-navigation a.page-1 span {
  background-image: url("../svg/p1-ico.svg");
}
.page-navigation a.page-2 span {
  background-image: url("../svg/p2-ico.svg");
}
.page-navigation a.page-3 span {
  background-image: url("../svg/p3-ico.svg");
}
.page-navigation a.page-4 span {
  background-image: url("../svg/p4-ico.svg");
}
.page-navigation a.page-5 span {
  background-image: url("../svg/p5-ico.svg");
}
.page-navigation a.page-6 span {
  background-image: url("../svg/p6-ico.svg");
}
.page-navigation a.page-7 span {
  background-image: url("../svg/p7-ico.svg");
}
.page-navigation a.page-8 span {
  background-image: url("../svg/p8-ico.svg");
}
.page-navigation a.page-9 span {
  background-image: url("../svg/p9-ico.svg");
}
.page-navigation a span {
  pointer-events: all;
  background-color: #8abbfa;
  padding: 0 20px 0 60px;
  height: 45px;
  font-size: 18px;
  line-height: 45px;
  display: inline-block;
  transition: background-color 0.25s;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 45px 45px;
  text-transform: uppercase;
  font-family: 'Clear Sans';
}
.page-navigation a:hover {
  width: 500px;
}
.page-navigation a:hover span {
  background-color: #29538a;
}
