#page-2
  min-height 720px
  background #fff
  color #29538a
  line-height 720px
  text-align center
  .wrapper
    display inline-block
    vertical-align middle
    width 930px
    margin-top -27px
    padding 0 10px
    line-height 18px
    font-size 0
    .news
      width 690px
      display inline-block
      overflow hidden
      vertical-align top
      margin 0 30px 0 0
      nav
        text-align center
        .page
          display inline-block
          margin 0 6px 
          font-size 0
          line-height 0
          width 12px
          height 12px
          border-radius 100%
          background-color #B2B2B2
          transition background-color .25s
          cursor pointer
          &:hover,
          &.selected
            background-color #f39c12  
      .list
        white-space nowrap
        margin-bottom 20px
        font-size 0
        line-height 0
        article
          display inline-block
          vertical-align top
          white-space normal
          background-color #F2F2F2
          text-align left
          position relative
          height 314px
          padding 0 0 0 400px
          width 290px
          .block-link
            text-decoration none
            display block
            &:hover
              .title
                background-color #29538a 
          .illustration
            position absolute
            top 0
            left 0
            width 400px
            height 314px 
            display block
          .title
            background-color #8ABBFA
            color #fff  
            text-transform uppercase
            padding 23px 40px 
            font-size 24px
            line-height 26px
            font-weight bold
            overflow hidden
            transition background-color .25s
          a
            color #30557A
            text-decoration underline
            &:hover
              text-decoration none 
          a.details
            background-color #F39C12
            text-decoration none
            color #FFF  
            font-size 16px
            text-transform uppercase
            line-height 40px
            padding 0 20px 
            margin-top 4px
            display inline-block
          p
            color #000
            font-size 14px
            line-height 22px 
            padding 0 40px 
            margin 20px 0 
            overflow hidden
            max-height 66px
            
    .careers
      width 210px
      display inline-block
      overflow hidden
      vertical-align top
      nav
        text-align center
        .prev
          background-position -20px 50%
        .next
          background-position 0 50%
        .prev,
        .next
          cursor pointer
          width 20px
          height 20px
          margin 0 5px
          display inline-block
          background-color #B2B2B2
          background-repeat no-repeat 
          background-image url('../images/arrows-small.png')
          background-size 40px 20px 
          &:hover
            background-color #f39c12 
             
      .list
        white-space nowrap
        margin-bottom 18px
        article
          display inline-block
          vertical-align top
          white-space normal
          background-color #F2F2F2
          text-align left
          padding 0 0 14px 
          height 300px
          .block-link
            text-decoration none
            display block
            background-color #8ABBFA
            &:hover
              .title
                background-color #29538a
          a
            color #30557A
            text-decoration underline
            &:hover
              text-decoration none 
          .title
            background-color #8ABBFA
            color #fff  
            text-transform uppercase
            padding 16px 15px 
            font-size 14px
            line-height 18px
            font-weight bold
            overflow hidden
            height 36px
            transition background-color .25s
          p
            color #000
            font-size 14px
            line-height 22px 
            padding 0 15px 
            margin 10px 0 
            overflow hidden
            max-height 66px
          .illustration
            display block
            width 100%
            height 110px  
            
    .abstract
      margin-bottom 50px
      .title
        font-size 36px
        line-height 72px
        font-weight bold
        text-transform uppercase
      .sub-title
        font-size 24px
        line-height 32px
        max-width 910px
        margin 0 auto
        white-space nowrap
        font-weight 200
        margin-bottom 20px
      p
        font-size 16px
        line-height 24px
        color #000 
      &:after
        height 0
        font-size 0
        line-height 0
        display block
        margin 20px auto 0
        overflow hidden
        content ""
        border-bottom 2px solid #000
        width 90px