#page-9
  height 485px
  line-height 485px
  text-align center
  .wrapper
    display inline-block
    vertical-align middle
    width 930px
    padding 0 10px
    line-height 18px
    margin-top -34px
    .title
      font-size 36px
      line-height 72px
      font-weight bold
      text-transform uppercase
      color #29538A
      &:after
        height 0
        font-size 0
        line-height 0
        display block
        margin 7px auto 0
        overflow hidden
        content ""
        border-bottom 2px solid #010101
        width 90px 
    ul+ul
      margin-left 26px
    ul
      display inline-block
      margin 50px 0 0
      vertical-align top
      text-align left
      li
        width 420px
        padding 14px 10px 16px 20px
        color #29538A 
        font-size 18px
        line-height 24px
        color #010101
        position relative
        &:before
          content "."
          display block
          position absolute
          left 0
          top 24px
          width 7px
          height 7px
          border-radius 100%
          overflow hidden
          font-size 0
          line-height 0
          text-indent -999px
          background #29538a 
        &:hover
          background-color #29538a
          color #fff