#page-6
  height 595px
  line-height 595px
  background #f2f2f2 
  text-align center
  .wrapper
    display inline-block
    vertical-align middle
    width 960px
    padding 0 10px
    line-height 18px
    margin-top -30px
    font-size 0
    .gift
      margin 50px auto 0
      background-color #F39C12
      color #FFF  
      font-size 16px
      height 40px
      line-height 40px
      padding 0 20px
      display inline-block
      text-transform uppercase
      text-decoration none
      font-weight bold 
    section
      display inline-block
      width 240px
      overflow hidden
      vertical-align bottom 
      border-bottom 3px solid#8ABBFA 
      margin-top 50px
      padding 0 0 32px 
      transition border-color .25s
      &.measurements .icon
        background-image url("../images/measurements.png") 
      &.decore .icon
        background-image url("../images/decore.png") 
      &.manufacturing .icon
        background-image url("../images/manufacturing.png") 
      &.delivery .icon
        background-image url("../images/delivery.png") 
      .icon
        background-position 50% 50%
        background-repeat no-repeat
        background-size 100px 100px
        width 100px
        height 100px
        border-radius 100%
        margin 0 auto 15px
        background-color #29538a 
        transition background-color .25s
      &:hover
        border-bottom 3px solid #29538a
        .icon
          background-color #8abbfa 
      .sub-title
        color #29538A
        font-size 24px
        line-height 48px
        font-weight bold 
        text-transform uppercase
      p
        margin-top -6px
        font-size 14px
        line-height 22px
    .title
      font-size 36px
      line-height 72px
      font-weight bold
      text-transform uppercase
      color #29538A
      &:after
        height 0
        font-size 0
        line-height 0
        display block
        margin 7px auto 0
        overflow hidden
        content ""
        border-bottom 2px solid #010101
        width 90px 