#page-4
  height 330px
  line-height 330px
  text-align center
  .wrapper
    display inline-block
    vertical-align middle
    width 930px
    padding 0 10px
    line-height 18px
    margin-top -30px
    p
      font-size 18px
      line-height 27px
      max-width 880px
      margin 40px auto 0
    .title
      font-size 36px
      line-height 72px
      font-weight bold
      text-transform uppercase
      color #29538A
      &:after
        height 0
        font-size 0
        line-height 0
        display block
        margin 7px auto 0
        overflow hidden
        content ""
        border-bottom 2px solid #010101
        width 90px 